<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comoelagua.android.braille">

    <application
        android:name=".BrailleApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphabetActivity"
            android:label="@string/title_activity_alphabet"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comoelagua.android.braille.MainActivity" />
        </activity>
        <activity
            android:name=".WordExercisesActivity"
            android:label="@string/title_activity_word_exercises"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comoelagua.android.braille.MainActivity" />
        </activity>
        <activity
            android:name=".PhraseExercisesActivity"
            android:label="@string/title_activity_phrase_exercises"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comoelagua.android.braille.MainActivity" />
        </activity>
        <activity
            android:name=".CharactersActivity"
            android:label="@string/title_activity_characters"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comoelagua.android.braille.MainActivity" />
        </activity>
    </application>

</manifest>
